::render(navbar)::
<div class="container">
	<div class="row">
		<div class="col-auto">
			<ul>
			:: for storage in page.storage_key_list ::
				<li><a href="/admin/:: storage ::">:: storage ::</a>
			:: endfor ::
			</ul>
		</div>
		<div class="col">
			:: if page.admin_entity_page == null ::
				<p class="muted">No storage selected</p>
			:: else ::
			<div class="row">
			:: for object in page.admin_entity_page ::
				<div class="col">
					<div class="row">
					<div class="col">
						:: object.label ::
					</div>
					<div class="col-auto">
						:: object.id ::
					</div>
					</div>
				</div>
			:: endfor ::
			</div>
			</table>
			:: endif ::
		</div>
	</div>
</div>
